--index-url https://pypi.python.org/simple

fortran-binary==1.0
daltools==1.0.0
-e git+https://github.com/vahtras/two_electron.git@master#egg=two_electron
-e git+https://github.com/vahtras/vb.git@master#egg=vb
-e git+https://github.com/vahtras/spectrum.git@master#egg=spectrum
-e .
